<div class="container-fluid card rounded-start my-3 py-3 fw-light">
  <div class="row">
    <div class="d-grid gap-2 col-lg-6 my-3 py-3">
      <img
        src="assets/images/Captura6.PNG"
        alt="qr"
        class="d-inline-block img-fluid mx-auto w-75 px-3"
      />
    </div>
    <div class="d-grid gap-2 col-lg-6 my-3 mx-auto py-3" id="aboutme">
      <a href="#" class="right-btn"><i class="fas fa-edit"></i></a>
      <h2 class="text-uppercase card-header">Acerca de</h2>
      <p class="py-3">
        En segunda etapa #YoProgramo - Full Stack Developer — Diplomado en
        Inteligencia de Datos - FCE UNCuyo / Data Analytics. Mi meta es
        desarrollarme profesionalmente con un marcado perfil en competencias
        digitales, siendo esto lo que más disfruto.
      </p>
      <p class="col-sm-6 py-3">
        <button
          type="button"
          class="btn btn-dark py-2 my-0 mx-auto rounded-pill border-2 text-uppercase"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@getbootstrap"
        >
          Contactame
        </button>
      </p>
    </div>
  </div>
</div>
