<div class="bg-light mt-3">
  <div class="container-fluid card rounded-start mb-3 py-3">
    <div class="row">
      <div class="edit-btn">
        <a href="#" class="right-btn"><i class="fas fa-plus"></i></a>
      </div>
      <div id="skills" class="card-header">
        <div class="card-titles">
          <h2 class="text-uppercase">Proyectos</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mx-auto mt-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/seo.PNG"
            class="card-img-top w-50 mx-auto"
            alt="seo"
          />
          <div class="card-body">
            <h5 class="card-title text-uppercase">
              Search Engine Optimization (SEO)
            </h5>
            <p class="card-text">
              Search engine optimization (SEO) is the process of improving the
              quality and quantity of website traffic to a website or a web page
              from search engines.
            </p>
            <a href="#" class="btn btn-secondary">Read more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/ux.png"
            class="card-img-top mx-auto w-50"
            alt="ux-design"
          />
          <div class="card-body">
            <h5 class="card-title text-uppercase">
              High Fidelity (Hi-Fi) - UI/UX
            </h5>
            <p class="card-text">
              While often times our UI/UX exploration starts with sketches or
              low fidelity layouts, evolving these ideas into high fidelity
              (hi-fi) wireframes forces us to consider all of the details
              required.
            </p>
            <a href="#" class="btn btn-secondary">Read more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/node.png"
            class="card-img-top mx-auto w-50"
            alt="node.js"
          />
          <div class="card-body">
            <h5 class="card-title text-uppercase">What is Node.js?</h5>
            <p class="card-text">
              Node.js lets developers use JavaScript to write command line tools
              and for server-side scripting—running scripts server-side to
              produce dynamic web page content before the page is sent to the
              user's web browser.
            </p>
            <a href="#" class="btn btn-secondary">Read more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2 col-lg-2 mx-auto my-3 py-3">
        <button
          class="btn btn-outline-dark rounded-pill border-3 text-uppercase"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#multiCollapseOthersposts"
          aria-expanded="false"
          aria-controls="multiCollapseOthersposts"
        >
          <strong> leer más</strong>
        </button>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mx-auto g-4">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseOthersposts">
          <div class="card h-100">
            <img
              src="assets/images/cloud.png"
              class="card-img-top mx-auto w-50"
              alt="cloud"
            />
            <div class="card-body">
              <h5 class="card-title text-uppercase">Cloud Server Hosting</h5>
              <p class="card-text">
                Cloud hosting makes applications and websites accessible using
                cloud resources and ensure greater flexibility and scalability.
              </p>
              <a href="#" class="btn btn-secondary">Read more</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseOthersposts">
          <div class="card h-100">
            <img
              src="assets/images/github.png"
              class="card-img-top mx-auto w-50"
              alt="github"
            />
            <div class="card-body">
              <h5 class="card-title text-uppercase">GitHub Pages</h5>
              <p class="card-text">
                Websites for you and your projects.Hosted directly from your
                GitHub repository. Just edit, push, and your changes are live.
              </p>
              <a href="#" class="btn btn-secondary">Read more</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- div/ row -->
  </div>
  <!-- div/ container -->
</div>
