<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div>
        <img
          src="assets/images/banner-black.png"
          alt="banner"
          class="d-inline-block img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card py-3 mb-3">
  <div class="row">
    <div class="col-12">
      <div
        id="perfil"
        class="col-lg-12 col-md-12 position-absolute top-0 start-50 translate-middle"
      >
        <a href="#" class="right-btn mx-3"><i class="fas fa-edit"></i></a>
        <img
          src="assets/images/alien-monster (2).png"
          alt="logo"
          width="140"
          height="120"
          class="d-inline-block rounded-circle superponer"
        />
      </div>
      <div id="titulo" class="col-lg-6 col-md-6 py-lg-3 mx-auto text-center">
        <div class="row align-items-center">
          <div class="col-8">
            <a href="#" class="right-btn float-end"
              ><i class="fas fa-edit"></i
            ></a>
            <h1 class="fw-light">
              <strong>{{ miPortfolio.name }}</strong>
            </h1>
            <h2 class="lead fw-light text-muted py-2">
              {{ miPortfolio.position }}
            </h2>
            <div id="info-contact">
              <span>{{ miPortfolio.ubication }}</span>
              <span><a href="#">Información de contacto</a></span>
            </div>
            <div id="profile-actions" class="py-2">
              <button
                type="button"
                class="btn-md btn-primary rounded-pill border-2"
              >
                Tengo interes en
              </button>
              <button type="button" class="btn-light rounded-pill border-2">
                Añadir sección
              </button>
              <button type="button" class="btn-light rounded-pill border-2">
                Más
              </button>
            </div>
          </div>
          <!--<p class="py-3">
                              <a href="#"><i class="fab fa-github fa-1x"></i></a>
                              <a href="#"><i class="fab fa-linkedin fa-1x"></i></a>
                              <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
                              <a href="#"><i class="fab fa-twitter fa-1x"></i></a>
                          </p> 
                          <p class=" my-5 py-2">
                              <button type="button" class="btn btn-outline-dark py-2 my-0 mx-auto rounded-pill border-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Contactame</button>
                              <button type="button" class="btn btn-outline-dark py-2 my-0 mx-auto rounded-pill border-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">Resumen</button>
                          </p>-->
          <div id="resumen" class="col-4">
            <ul id="info-details">
              <li>
                <a href="#" class="float-end">
                  <img src="" alt="" class="img-fluid" />
                  <p class="fw-lighter"><strong>Argentina Programa</strong></p>
                </a>
              </li>
              <li>
                <a href="#" class="float-end">
                  <img src="" alt="" class="img-fluid" />
                  <p class="fw-lighter"><strong>Codo a Codo 4.0</strong></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
